*{
    background-color: blue;
    color: wheat;
    
}
div{
    display: flex;
    justify-content: center;
    margin-top: 10px ;
    
}
#list{
    padding-right:100px ;
    
}
li{
    font-size: xx-large;
}
#Add{
    margin-left: 20px;
    background-color: green;
}
input{
    width: 60%;
    height: 50px;
}
.delete{
    background-color: red;
    margin-left: 20px;
    align-self:center;
}
